body {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style: none;
}

img {
  object-fit: contain;

  width: 300px;
  height: 300px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
